<app-header [isSticky]="isSticky" (open)="onOpen($event)"></app-header>
<app-carousel></app-carousel>
<div class="container">
  <router-outlet></router-outlet>
  <!-- <div class="row">
    <div class="col-12 col-md-9">
    </div>
    <div class="col-12 col-md-3">
      <app-sidebar></app-sidebar>
    </div>
  </div> -->
</div>
<app-footer></app-footer>
<p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000" [showCloseIcon]="true" styleClass="ui-sidebar-right">
  <h1 style="font-weight:normal">Left Sidebar</h1>
  <button pButton type="button" (click)="display = false" label="Close" class="ui-button-success"></button>
  <div>This is SideBar</div>
</p-sidebar>
